@tailwind base;
@tailwind components;
@tailwind utilities;
.transition-opacity {
    transition: opacity 1.5s ease-in-out;
}

.opacity-100 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}
.notification {
    padding: 10px 14px;
    font-size: 15px;
    border-radius: 4px;
    transition: opacity 1.5s ease-in-out;
}

.notification-container {
    position: fixed;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 8px;
}